#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Type=Application
Name=Arrêter WOPR
Comment=Arrêter proprement WOPR
Icon=wopr-stop
Terminal=false
Exec=bash -c 'd="$1"; d="${d#file://}"; d="${d//%20/ }"; root="$(dirname "$d")"; exec bash "$root/public/scripts/arreter_wopr.sh"' _ %k
Categories=Office;Utility;
StartupNotify=false
