Flask>=3.0
reportlab>=4.0
qrcode[pil]>=7.4

google-api-python-client>=2.0
google-auth>=2.0
google-auth-oauthlib>=1.2

cryptography>=42.0

sqlcipher3-binary==0.6.0; platform_system == "Linux"
sqlcipher3==0.6.2; platform_system == "Windows"
